.contPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 12rem;
  height: 100vh;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  width: 100%;
  /* background-color: aqua; */
}
.buttonDownloadCv{
  padding: 1.5rem;
  font-family: var(--font-mono);
  font-size: 1rem;
  background-color: #026e00;
  opacity: .5;
  color: white;
  box-shadow: 0 0 5px #026e00;
}

.description {
  padding: 2rem;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  color: rgb(61, 61, 61);

}
.center{
  /* background-color: red; */
  height: 35rem;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
  color: #026e00;
}

.grid {
  /* border-top: 1px solid #ECAA27; */
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: 0.5rem;
  padding-top: 3rem;
}
.contScroller{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.footer {
  background: rgb(224, 224, 224);
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0 1rem 0; */
  font-family: var(--font-mono);
  font-size: 1.2rem;
  /* background: rgb(4, 189, 149); */
  font-weight: 600;
  text-transform: uppercase;
}

.present {
  font-family: var(--font-mono);
  padding: 12rem 2rem 6rem 2rem;
  width: 50rem;
  text-align: center;
  /* background:red; */
  /* background-color: rgb(255, 255, 255); */
}
.present p{
  font-size: 1.2rem;
  font-family: var(--font-mono);
  opacity: 0.6;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .description {
    font-size: .9rem;
  }
  .buttonDownloadCv{
    font-size: .9rem;
    /* padding: .5rem; */
  }
  .logo {
    width: 22rem;
    height: 20rem;
  }  .footer{
    font-size: .9rem;
  }
  .present {
    width: 40rem;
    font-size: .9rem
  }
}

/* Mobile */
@media (max-width: 700px) {
  .contPrincipal {
    padding-top: 8rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    max-width: 320px;
    text-align: center;
  }
  .buttonDownloadCv{
    padding: 1rem;
    font-size: .8rem;
    /* padding: .5 rem; */
  }
  .description {
    font-size: .9rem;
  }
  .logo {
    width: 18rem;
    height: 25rem;
  }
  .contScroller{
    margin-top: 1rem;
  }
  .footer{
    font-size: .8rem;
  }
  .present{
   padding-top: 4rem;
    width: 100%;
  }
  .present p{
    font-size: .9rem;
  }
}
