.contPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 12rem;
  height: 100vh;
}

.description {
  padding: 2rem;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
  color: #ECAA27;
}

.grid {
  border-top: 1px solid #ECAA27;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: 0.5rem;
  padding-top: 3rem;
}
.contScroller{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
  margin-top: 5rem;
}

.footer {
  background: rgb(224, 224, 224);
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0 1rem 0; */
  font-family: var(--font-mono);
  font-size: 1.2rem;
  /* background: rgb(4, 189, 149); */
  font-weight: 600;
  text-transform: uppercase;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .description {
    font-size: .9rem;
  }
  .logo {
    width: 22rem;
    height: 20rem;
  }  .footer{
    font-size: .9rem;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .contPrincipal {
    padding-top: 8rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .description {
    font-size: .9rem;
  }
  .logo {
    width: 18rem;
    height: 25rem;
  }
  .contScroller{
    margin-top: 1rem;
  }
  .footer{
    font-size: .8rem;
  }
}
